<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>
<body>
    <div id="bynder-compactview" style="height: 100vh"></div>
</body>
<% include partials/script %>
<script src="https://d8ejoa1fys2rk.cloudfront.net/5.0.5/modules/compactview/bynder-compactview-2-latest.js"></script>
<script src="./javascripts/compactView.js"></script>
<% include partials/confirmationDialog %>
</html>